<!DOCTYPE html>

<body>
  <form class="example-form">
    <label style="font-family:'Times New Roman'">E-Posta: </label>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Your E-Mail Address">
    </mat-form-field>
    <br />
    <label style="font-family:'Times New Roman'">Şifre:</label>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Your Password">
    </mat-form-field>
    <div class="example-button-row">

      <button mat-raised-button color="primary" routerLink="/Home">Login</button>
      <button mat-raised-button color="basic" routerLink="/Sign_In">Cancel</button>
      <div id="PageWrapper">

      </div>

    </div>
  </form>
</body>
