<!DOCTYPE html>
<style>
  *
  {
    font-family:Arial;
  }
  #PageWrapper
  {
    width:844px;
  }
 
  #MainContent
  {
    width:664px;
    float:left;
    padding-left:200px;
    margin:0px;
    
   
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    background-color: lightskyblue;
    font-style: normal;
    font-size: 12pt;
    font-family: Tahoma;
    color: brown;
  }
</style>
<body>

  <form class="example-form">
  

    <div class="center">
      <div id="MainContent">
        <label>E-Posta: </label>

        <mat-form-field class="example-full-width">
          <input type="text">
        </mat-form-field>
        <br />
        <label>Şifre:</label>

        <mat-form-field class="example-full-width">
          <input type="text">
        </mat-form-field>
        <div class="example-button-row">

          <button mat-raised-button color="basic" routerLink="/Home">Login</button>
          <button mat-raised-button color="basic" routerLink="/Home">Cancel</button>

        </div>



      </div>
    </div>
  


    
  </form>
</body>
