<!DOCTYPE html>
<style>
  *
  {
    font-family: Arial;
  }

  #MainContent {
    width: 664px;
    float: left;
    padding-left: 200px;
    margin: 0px;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    background-color: lightskyblue;
    font-style: normal;
    font-size: 12pt;
    font-family: Tahoma;
    color: brown;
  }
</style>

<body>
  <form class="example-form">
    <div class="center">
      <div id="MainContent">
        <h1>This is Home page</h1>
        
      </div>
    

    </div>
     

    
  </form>
</body>

