
<style>
 

  #MainContent {
    width: 664px;
    float: left;
    padding-left: 200px;
    margin: 0px;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    background-color: lightskyblue;
    font-style: normal;
    font-size: 12pt;
    font-family: Tahoma;
    color: brown;
  }
  mark
  {
    background-color:darkblue;
    color:coral;
  }
</style>
  <form class="example-form">
    <div class="center">
      <div id="MainContent">
        <p>Son birkaç yılda <mark>otele gelen müşterilerin</mark>sayısı hızla arttı. Özellikle avrupalı turistlerin yoğun ilgisi <mark>oda satışını</mark> arttırdı.</p>
        <p>Rezervasyon yapan müşteriler fiyatları öğrenip araştırma yaparlar. </p>
      </div>
    

    </div>
     

    
  </form>


