<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
  h4
  {
    color:azure;
  }
  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .example-spacer {
    flex: 1 1 auto;
  }



  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  a,
  a:visited,
  a:hover {
    color: cyan;
    text-decoration: none;
  }

    a:hover {
      color: #125699;
    }



  button {
    background-color: lightskyblue;
    font-style: normal;
    font-size: 12pt;
    font-family: Tahoma;
    color: brown;
  }
  .mat-icon-button {
    background-color: firebrick;
    color:white;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul li {
    color: white;
  }

    ul li a {
      color: white;
      text-decoration: none;
      display: inline-block;
      margin-bottom: 0px;
      font-size:20px;
    }

  .mat-toolbar {
    color: white;
    justify-content: space-between;
    background-color: firebrick;
  }

  nav {
    background-color: #2A92BF;
  }


  mat-sidenav-container
  {
    height:100%;
  }

  mat-sidenav {
    width: 200px;
    background-color: blue;
  }
    mat-sidenav, mat-sidenav-content
    {
      padding:16px;
    }

    .example-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  .page-footer {
    font-size: 12pt;
    background-color: firebrick;
    color:white;
  }
</style>


<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="go()">menu</mat-icon>
    </button>
    <span style="color:cyan">Odeon</span>
    <span class="example-spacer"></span>
    <div>
      <a mat-button  routerLink="/Home">Home Page</a>
      <a mat-button  routerLink="/Sign_In">Sign In</a>
      <a mat-button  routerLink="/Sign_Up">Sign Up</a>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
   <h4>Start Page</h4>
    <ul>
      <li>
        <a mat-button routerLink="/Home">Home</a>
      </li>
      <li>
        <a mat-button routerLink="/Sign_In">Sign In</a>
      </li>
      <li>
        <a mat-button routerLink="/Sign_Up">Sign Up</a>
      </li>
    </ul>
  </mat-sidenav>
    <mat-sidenav-content>
     
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    
</mat-sidenav-container>


  
  <!-- Footer -->
  <footer class="page-footer">
    <div class="footer-copyright text-center py-3">
      2019 Odeon: A Hotel Page
    </div>
  </footer>
  <!-- Footer -->
